.otpinput{
    width: 3%;
    height: 50px;
    outline: none;
    font-size: 1.5em;
    background-color: rgb(221, 221, 221);
    border:1px solid rgb(180, 180, 180) ;
    margin:2% 1%;
    text-align: center;
    letter-spacing: 20px;
}   

.otpinput:focus{
    border:1px solid black;

}
.input{
  
}