.profile{
    display: flex;
    flex-direction: column;
    margin:5%;
    background-color: white;
    padding: 1% ;
    justify-content: flex-start;
}
.profileItem{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.profileHeader{
    /* padding: 3%; */
    font-size:150% ;

}
.line{
    border:1px solid black;
    width: 100%;
    margin-left: 0;
}

.profileBody{
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    flex-direction: row;
}
.item>.productImage{
    width:20%;
}
.pheader{
    font-size: 130%;
    font-weight: 400;
}
.ppheader{
    font-size: 130%;
    font-weight: 500;
    text-decoration: underline;
}

.pcontent{  
    font-size: 120%;
    position: absolute;
    margin-left: 15%;
}

.productitemcontent{
    display: flex;
    flex-direction: column;
    margin:1%;
    width: 30%;
    margin-left: 3%;
    padding:2%;
    cursor: pointer;
}


.cartItemheader{
    font-size: 1.5em;
}
.price{
    font-size: 1.3em;
    color:black;
}

.quantityToBuy{
    color:grey;
    font-size:1.5em;

}