/* .Logo{
    background-color: ivory;
    height: 100%; 
    margin:0 auto;
    box-sizing: border-box;
    border-radius: 10%;
}

.Logo img{
    height: 100%;
} */

/* .Logo img {
    width: 120px;
} */
    /* @media(max-width:700px){

        .Logo img{
            width: 100px;
        }
    } */